@model IEnumerable<BillItem>
@{
    ViewData["Title"] = "Home Page";
}


<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col p-md-0">
                <h4>Create Invoice</h4>
            </div>
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a>
                    </li> -->
                    <li class="breadcrumb-item active">Create Invoice</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <button class="btn btn-primary btn-sl-lg mr-3" onclick="saveToDb()">Save bill in DB</button>

                                <button class="btn btn-info  ">Delete selected rows</button>

                            </div>
                        </div>




                        <div class="row mt-5">
                            <div class="col-lg-12">
                                <div class="create-invoice-table table-responsive">
                                    <table class="table invoice-details-table" style="min-width: 620px;">
                                        <thead>
                                            <tr>
                                                <th>Manage</th>
                                                <th>Items</th>

                                                <th>Quantity</th>
                                                <th>Unit Price</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" /></td>
                                                <td class="muted-text">item 1</td>

                                                <td class="muted-text">
                                                    <input style="text-align:center;" value="1" type="text">
                                                </td>
                                                <td class="muted-text"><input style="text-align:center;" value="1" type="text"></td>
                                                <td class="text-primary"><span>0.00</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" /></td>
                                                <td class="muted-text">item 2</td>


                                                <td class="muted-text">
                                                    <input style="text-align:center;" value="1" type="text">
                                                </td>
                                                <td class="muted-text"><input style="text-align:center;" value="1" type="text"></td>
                                                <td class="text-primary"> <span>0.00</span></td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" /></td>
                                                <td class="muted-text">item 3</td>


                                                <td class="muted-text">
                                                    <input style="text-align:center;" value="1" type="text">
                                                </td>
                                                <td class="muted-text"><input style="text-align:center;" value="1" type="text"></td>
                                                <td class="text-primary"><span>0.00</span></td>
                                            </tr>

                                            <tr>
                                                <td><button id="add_row" class="btn btn-info" type="button">add row</button></td>
                                                <td></td>
                                                <td></td>
                                                <td>Net</td>
                                                <td class="text-primary"><span>0.000</span></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            $("button:contains(Delete selected rows)").click(function () {
                $('tr:has(input[type="checkbox"]:checked)').remove();
                calculateBill();
            });

            addEventOnInputs();

            var itemNumber = 4;
            $('#add_row').click(function () {
                var tableRows = $('table tbody tr:not(:last-child)');
                var lastRow = tableRows.slice(-1);
                lastRow.after(
                    ` <tr>
                        <td>
                            <input type="checkbox" /></td>
                        <td  class="muted-text">item ${itemNumber}</td>
                        <td class="muted-text">
                            <input  style="text-align: center;" value="0" type="text">
                        </td>
                        <td class="muted-text">
                            <input  style="text-align: center;" value="0" type="text"></td>
                        <td class="text-primary"><span>0.00</span></td>
                    </tr>`)
                itemNumber++;
                addEventOnInputs();
            })


        });


        function calculateBill() {
            var tableRows = $('table tbody tr:not(:last-child)');
            var netTotal = 0;
            for (let index = 0; index < tableRows.length; index++) {
                let totalElement = tableRows[index].querySelector('td span');
                let quantityAndPrice = tableRows[index].querySelectorAll('td input[type="text"]');
                totalElement.innerHTML = quantityAndPrice[0].value * quantityAndPrice[1].value;
                netTotal += parseFloat(totalElement.innerHTML);
            }
            $('table tbody tr:last-child td span').text(netTotal);
        };

        function addEventOnInputs() {
            var allInputs = $('table tbody tr td input[type="text"]');
            for (let index = 0; index < allInputs.length; index++) {
                $(allInputs[index]).on("keyup", calculateBill);
            }
        }



        function saveToDb() {
            var itemsList = [];
            var tableRows = $('table tbody tr:not(:last-child)');

            for (let i = 0; i < tableRows.length; i++) {
                let itemName = tableRows[i].cells[1].textContent;
                let quantity = tableRows[i].cells[2].querySelector("input").value;
                let unitPrice = tableRows[i].cells[3].querySelector("input").value;
                let rowObj = {
                    itemName: itemName,
                    quantity: quantity,
                    unitPrice: unitPrice,
                    total: quantity * unitPrice
                }
                itemsList.push(rowObj);
            }

            let jsonData = JSON.stringify(itemsList);

            $.ajax({
                type: "POST",
                url: "invoice/SaveBill",
                data: jsonData ,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log("Data saved to the database:", response.d);
                    clearForm();
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        };

        function clearForm() {

            var tableRows = $('table tbody tr:not(:last-child)');

            for (let i = 0; i < tableRows.length; i++) {
                tableRows[i].cells[2].querySelector("input").value = "0";
                tableRows[i].cells[3].querySelector("input").value = "0";
                tableRows[i].cells[4].querySelector("span").textContent = "0";
            }
            $('table tbody tr:last-child td span').text("0.00");
            alert("Bill items added successfully!");

        };








    </script>




}



